[Unit]
Description=Single binary HTTP daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/myhttpd
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
KillMode=mixed
Restart=always
EnvironmentFile=/etc/default/myhttpd
User=nobody
Group=nogroup
PrivateTmp=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
